<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>마라탕 메뉴</title>
</head>
<body>
    <h1>마라탕 재료 주문하기</h1>
    <form action="/order" method="post">
    <div th:each="ingredient : ${ingredients}">
        <div>
            <h3 th:text="${ingredient.name}">재료 이름</h3>
            <p th:text="'가격: ' + ${ingredient.price} + '원'">가격 정보</p>

            <label th:for="'quantity-' + ${ingredient.name}">수량:</label>
            <input type="number" th:id="'quantity-' + ${ingredient.name}"
                   th:name="'quantities[' + ${ingredient.name} + ']'" min="0" value="0">

            <button type="button" th:onclick="addOrder('[[${ingredient.name}]]')">주문 추가</button>
        </div>
    </div>
        <button type="button" th:onclick="'location.href=\'/order/view/'">주문 조회</button>
    </form>
    <script src="/js/addOrder.js"></script>
</body>
</html>